* {
  font-family: 'Abril Fatface', cursive;
  cursor: url(http://ani.cursors-4u.net/symbols/sym-8/sym757.ani), url(http://ani.cursors-4u.net/symbols/sym-8/sym757.png), auto !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* Styling header */
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#EE81A8 0,#EE81A8 100%) !important;
}

.nav-link {
  color: #ffffff !important;
  transition: all 0.3s ease-in;
  text-decoration:none;
}

.nav-link:hover {
  color: #ffffff !important;
  /* text-shadow: 1px 1px 2px; */
  -webkit-stroke-width: 5.3px;
     -webkit-stroke-color: #FFFFFF;
     -webkit-fill-color: #FFFFFF;
     text-shadow: 1px 0px 20px white;
}

.navbar-collapse.collapse {
  padding-left: 1585px;
}

/* Index page */
.index-header {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  padding-left: 10px;
}

#indexpgname {
  padding: 10px;
  margin-left: 10px;
}

#indexbuttongroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

#indexbuttons {
  background-color: #EE81A8;
  border-radius: 5px;
  border: 0px;
}

#indexbuttons:hover{
  background-color: #EE81A8;
}

#seasonfilter {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#traitfilter {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 18px;
}

#sortfilter {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
}

#dropdownMenuButton {
  background-color: #EE81A8;
  border: 0px;
}

a.dropdown-item {
  color: #EE81A8;
}

a.dropdown-item:hover {
  background-color: #EE81A8;
  color: #ffffff;
}

/* Styling cards */
.queen-name {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #000000;
}

.season {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0px;
  color: #EE81A8;
}

.card-body {
  padding: 0px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 100% 0;
}

/* Show page */
.showpage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 40% 0;
  border-width: 1px;
}

#moreinfo {
  text-align: center;
  padding-top: 140px;
}

